/* Redefined in PAGE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style in HEADER */
header {
    height: 100px;
    background-color: #000;
}

/* Style in Class for scope in header */
.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    background-color: blue;
}