/* Redefined in PAGE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* CSS of the interface area */



/* BODY style part */
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

/* Style in HEADER */
header {
    height: 100px;
    background-color: #000;
    color: #fff;
}

/* Style in Class for scope in header */
.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

/* LOGO IMG */
.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/* Style in LIST */
.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

/* Style in LINK in my List */
.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
    color: #ccc;
}

.button {
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px
}


/* First style in SECTION with class name BANNER */
.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/images-icons/complementos/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden; /* For ignore any part that exceeds the size of the page */
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0, 0.8);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* Style in TEXT Design*/
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #b28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

/* Style in BOTTON TOUCH */
.banner a {
    display: block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px
}

/* POINTERS */
.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

/* Activer POINTER */
.banner .pointer.active {
    background-color: #b28756;
}

/* Second Section about DEFAULT */
.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Part style for this texts in div DEFAULT */
.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
}

.default .section-title {
    font-size: 20px;
    font-weight: 600;
}

.default .section-desc {
    font-size: 12px;
    font-weight: 600;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
}

/* Style with include in class "LIGHT" */
.default.light {
    background-color: #f7f7f7;
}

.default.light .section-title,
.default.light .section-body {
    color: #000;
}

/* Style with include in class DARK */
.default.dark {
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
    color: #fff;
}








/* CSS of the areas especifics */

/* Style in ABOUT US part in page */
.section-about-us {
    display: flex;
}

.section-about-us--left {
    flex: 1;
}

.section-about-us--left p {
    font-size: 14px;
    line-height: 25px;
}

.section-about-us--right {
    width: 520px;
    text-align: center;
}

/* IMAGE */
.section-about-us--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}




/* SECTION SERVICES */
.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;  
    padding: 15px; 
}

.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;    
}






/* SECTION PROJECTS */
.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}

.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom: 3px solid #b28756;
}

/* Removed in FIRST ITEMS */
.section-projects--filters li:first-child {
    border-left: 0;
}

/* PHOTOS */
.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects-photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}





/* SECTION OUR TEAM */
.bg-team {
    background-image: url('../images/images-icons/complementos/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area {
    background-color: rgb(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders {
    width: 1000vw;
    height: 100%;
}

.section-team .slide {
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
    height: 300px;
}

.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;
}

.section-team-area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-team-area .pointer.active {
    background-color: #b28756;
}

.section-team--avatar {
    width: 150px;
    height: auto;
}

.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-team--role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section-team--social {
    display: flex;
    margin-top: 20px;
}

.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    margin-right: 10px;
    background-color: #ccc;
}

.section-team--social a:hover {
    background-color: #b28756;
}









/* OTHERS CARDS AND FIELDS IN PAGE*/


.section-review {
    text-align: center;
}

.review-area--name {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 15px;
}

.client-area--job {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 30px;
}

.client-area--depoiment {
    font-size: 1em;
    line-height: 30px;
    color: var(--cor00);
    width: 900px;
    margin: auto;
    padding-top: 15px;
}

.section-awards {
    height: auto;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.section-awards--container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-awards--frame {
    padding: 40px;
}

.default.white.price {
    border-bottom: 1px solid lightgrey;
}

.section-price--container {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
}

.section-price--product {
    background-color: white;
    text-align: center;
    min-height: 300px;
    min-width: 250px;
    padding: 25px;
    border-radius: 3px;
}

.section-price--name {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
}

.section-price--value {
    font-size: 2em;
    font-weight: 700;
    margin-top: 10px;
}

.section-price--month {
    color: var(--cor00);
    text-transform: uppercase;
    font-size: 0.7em;
}

.section-price--info {
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
}

.bar {
    margin: auto;
    height: 0.1px;
    width: 10px;
    background-color: var(--cor00)
}

.button.dark {
    background-color: rgba(0, 0, 0, 0.8);
}

.button.active, .button.dark:hover {
    background-color: var(--cor01);
}

.section-premium--container {
    display: flex;
    justify-content: center;
    column-gap: 100px;
    padding: 30px 0px;
    border-bottom: 1px solid var(--cor00);
}

.features-container {
    display: flex;
    column-gap: 30px;
}

.features-container h3 {
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
}

.section-premium--description {
    font-size: 0.9em;
    color: var(--cor00);
    line-height: 25px;
    margin-left: 64px;
}

.description {
    align-items: center;
    column-gap: 5px;
    margin-top: 10px;
    margin-left: 64px;
}

.description p {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--cor00);
}

.bar-2 {
    height: 0.1px;
    width: 10px;
    background-color: var(--cor00)
}

.section-premium--second, .section-premium--third {
    margin-top: 30px;
}

.section-body--button{
    text-align: center;
}

.facts {
    border: none;
}

.facts h2 {
    font-size: 3em;
    color: var(--cor01);
}

.facts .bar {
    width: 20px;
    height: 3px;
}

.facts h3 {
    margin-top: 10px;
}

.section-service--info {
    margin-top: 22px;
}

.section-tellaboutus--container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    max-width: 1140px;
    padding: 20px;
    margin: auto;
}

.section-tellaboutus--share {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    text-transform: uppercase;
    color: var(--cor00);
}

.section-tellaboutus--containersocial {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.section-tellaboutus--social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-tellaboutus--social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 30px;
}

.section-tellaboutus--social.t a {
    background-color: rgb(0, 172, 237);
}
.section-tellaboutus--social.l a {
    background-color: rgb(10, 102, 194);
}
.section-tellaboutus--social.f a {
    background-color: rgb(51, 82, 145);
}
.section-tellaboutus--social.g a {
    background-color: rgb(213, 76, 63);
}
.section-tellaboutus--social.p a {
    background-color: rgb(198, 32, 38);
}

.section-tellaboutus--social p {
    font-size: 0.6em;
    font-weight: 600;
    color: var(--cor00);
    padding-left: 5px;
}

.contact {
    border-top: 1px solid var(--cor00);
}

.section-body--contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* SECTION ABOUT FORM */
form input, form textarea {
    outline: none;
    font-size: 15px;
    border: none;
    padding-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 2px solid var(--cor00);
    background-color: #ccc;
}

.section-body--input-1 input:first-child{
    margin-right: 30px;
}

.section-body--input-1 input {
    width: 260px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.section-body--input-2 input, .section-body--input-3 input, .section-body--input-3 textarea {
    width: 100%;
}

.section-body--input-3 textarea {
    margin-top: 30px;
    resize: none;
}

/* BUTTON FOR SEND IN FORM */
.button.input {
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all 1.2s;
}

.button.input:hover {
    background-color: #c96c02;
    transition: all 1.2s;
}




/* MAP AREA */
.section-map {
    background-image: url(../images/images-icons/complementos/mapa.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


.section-map--area {

}