/* Redefined in PAGE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY style part */
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

/* Style in HEADER */
header {
    height: 100px;
    background-color: #000;
    color: #fff;
}

/* Style in Class for scope in header */
.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

/* LOGO IMG */
.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/* Style in LIST */
.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

/* Style in LINK in my List */
.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
    color: #ccc;
}


/* First style in SECTION with class name BANNER */
.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/images-icons/complementos/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden; /* For ignore any part that exceeds the size of the page */
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0, 0.8);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* Style in TEXT Design*/
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #b28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

/* Style in BOTTON TOUCH */
.banner a {
    display: block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px
}

/* POINTERS */
.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

/* Activer POINTER */
.banner .pointer.active {
    background-color: #b28756;
}

/* Second Section about DEFAULT */
.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Part style for this texts in div DEFAULT */
.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
}

.default .section-title {
    font-size: 20px;
    font-weight: 600;
}

.default .section-desc {
    font-size: 12px;
    font-weight: 600;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
}

/* Style with include in class "LIGHT" */
.default.light {
    background-color: #f7f7f7;
}

.default.light .section-title {
    color: #000;
}